@use "../../styles/settings" as *;

@keyframes fadeIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.95);
    opacity: 0;
  }
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(2px);
  font-family: $fonttwo;

  .modal-content {
    background-color: white;
    border-radius: 26px;
    max-width: 600px;
    width: 90%;
    padding: 0 20px 20px 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
    animation: fadeIn 0.3s ease-out;

    img {
      width: 600px;
      height: auto;
      border-radius: 26px 26px 0 0;
      border: rgba(142, 142, 222, 0.6) solid 1px;
    }

    .modal-detail {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      text-align: center;
      h1 {
        margin: 4px 0 10px 0;
        font-size: 32px;
      }
      p {
        width: 500px;
        font-size: 18px;
        letter-spacing: 1px;
      }

      .darkWrite {
        color: white;
      }
      .techno-container {
        display: flex;
        width: 500px;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

        .link-container {
          display: flex;
          width: 50%;
          height: 2vh;
          align-items: flex-start;
          flex-direction: column;
          justify-content: center;

          a {
            button {
              padding: 12px 24px;
              width: 210px;
              color: #fff;
              border: none;
              border-radius: 8px;
              background: linear-gradient(
                156deg,
                rgba(142, 142, 222, 0.6),
                rgba(142, 142, 222, 1)
              );
              transition: all 0.3s ease;
              font-family: $fonttwo;
              font-size: 18px;
              margin-bottom: 10px;
              cursor: pointer;

              &:hover {
                box-shadow: 0 0 12px rgba(108, 99, 255, 1);
                transform: translateY(-3px);
              }
            }

            .btnDark {
              background: linear-gradient(
                156deg,
                rgba(142, 142, 222, 0.6),
                rgba(98, 135, 255, 1)
              );
              &:hover {
                box-shadow: 0 0 12px rgba(98, 135, 255, 1);
                transform: translateY(-3px);
              }
            }
          }
        }

        .techno-icons {
          display: flex;
          width: 50%;
          height: 14vh;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;

          p {
            font-size: 16px;
            font-weight: 800;
            width: 200px;
            color: rgba(142, 142, 222, 1);
          }

          .icon-techno {
            width: 42px;
            height: auto;
            margin: 20px 10px;
            filter: drop-shadow(0 4px 10px rgba(83, 79, 79, 0.6));
          }
          .icon-techno-dark {
            color: white;
          }
        }
      }

      .footer-modal {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        border-top: 2px solid black;
        button {
          align-self: flex-end;
          padding: 8px 16px;
          background-color: #222;
          color: white;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          margin-top: 20px;

          &:hover {
            background-color: #444;
          }
        }
      }

      .footer-modalDark {
        border-top: 2px solid white;
      }
    }
  }

  .modal-content-dark {
    background-color: $themeDarkTerciaire;
  }

  .fade-in {
    animation: fadeIn 0.3s ease-out forwards;
  }

  .fade-out {
    animation: fadeOut 0.3s ease-in forwards;
  }
}
