@use "../../styles/settings" as *;

.projects-container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: center;
  transition: background-color 0.4s ease, color 0.4s ease;
  align-items: center;
  justify-content: center;
  font-family: $fonttwo;

  &.light {
    background-color: $themeLightPrimaire;
  }
  &.dark {
    background-color: $themeDarkPrimaire;
  }

  h1 {
    font-weight: 700;
    margin: 4px 10px 0px 10px;
    @media screen and (max-width: 420px) {
      margin: 2px 4px 0px 4px;
      font-size: 26px;
    }
  }

  h3 {
    margin: 15vh 0 0 0;
    font-weight: 500;
    font-size: 14px;

    @media screen and (max-width: 1024px) {
      margin: 8vh 0 1vh 0;
    }

    @media screen and (max-width: 600px) {
      margin: 12vh 0 0 0;
    }
  }

  .darkWrite {
   color: rgb(225, 219, 219);
  }

  .projects-wrap {
    display: flex;
    max-width: 1200px;
    margin: 30px 0;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (max-width: 1024px) {
      min-height: auto;
      height: auto;
      padding: 0 0 0 0;
      justify-content: center;
    }

    @media screen and (max-width: 420px) {
      margin: 10px 0;
    }
  }
}
