.app {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.body-no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

section {
  width: 100%;
}
