@use "../../styles/settings" as *;

.skills-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  height: auto;

  align-items: center;
  justify-content: center;
  transition: background-color 0.4s ease, color 0.4s ease;
  font-family: $fonttwo;
  @media screen and (max-width: 1024px) {
    min-height: 88vh;
  }

  &.light {
    background-color: $themeLightPrimaire;
  }
  &.dark {
    background-color: $themeDarkPrimaire;
  }

  .titleSkills {
    margin: 3px 0 0 0;
    font-weight: 500;
    font-size: 14px;

    @media screen and (max-width: 600px) {
      margin-top: 10vh;
    }
  }

  h1 {
    margin: 4px 10px 10px 10px;
    color: $txtLight;
    font-weight: 700;

    @media screen and (max-width: 420px) {
      font-size: 26px;
    }
  }

  .darkWrite {
    color: rgb(225, 219, 219);
  }

  .skills-box {
    display: flex;
    width: 600px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media screen and (max-width: 660px) {
      width: 300px;
    }

    .skill-dev,
    .skill-tools {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 600px;
      border-radius: 20px;
      background-color: white;
      padding: 10px;
      margin-top: 2vh;

      @media screen and (max-width: 660px) {
        width: 340px;
      }

      @media screen and (max-width: 420px) {
        width: 320px;
      }

      h3 {
        font-weight: 700;
        margin-bottom: 1px;
      }

      .title-light {
        color: $btnLight;
      }

      .title-dark {
        color: $themeDarkSecondaire;
      }

      .skills-grids {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 1rem;
        justify-content: center;
        align-items: center;
      }

      .skill-description {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        border-radius: 8px;

        @media screen and (max-width: 420px) {
          gap: 0.5em;
          padding: 0.5rem;
        }
      }

      .skill-icon {
        width: 34px;
        height: auto;

        @media screen and (max-width: 660px) {
          width: 24px;
        }
      }

      .iconLight {
        color: $btnLight;
      }

      .iconDark {
        color: $themeDarkSecondaire;
      }

      .skill-level {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h4 {
          margin: 0;
          font-size: 1.1rem;

          @media screen and (max-width: 660px) {
            font-size: 0.9em;
          }

          @media screen and (max-width: 660px) {
            font-size: 0.7em;
          }
        }

        .titleTechoDark {
          color: white;
        }

        p {
          margin: 0;
          font-size: 0.8rem;
          opacity: 0.8;
          color: $textLightTwo;
          font-weight: 600;
          font-style: italic;

          @media screen and (max-width: 660px) {
            font-size: 0.6rem;
          }
        }

        .levelTechoDark {
          color: rgb(129, 126, 126);
        }
      }
    }

    .skill-dev-Dark,
    .skill-tools-dark {
      background-color: $themeDarkTerciaire;
    }
  }
}
