@use "../../styles/settings" as *;
.footer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 20vh;
  height: auto;
  align-items: center;
  background-color: rgb(187, 187, 230);
  font-family: $fonttwo;

  @media screen and (max-width: 600px) {
    min-height: 12vh;
  }

  .byTitle {
    margin-top: 1vh;
    font-size: 18px;
    font-weight: 500;
  }

  .byTitleDark {
    color: white;
  }
  .nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 1vh;

    @media screen and (max-width: 420px) {
      width: 80%;
    }

    .navTitle {
      margin: 0 8px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
        color: rgb(45, 44, 44);
      }
    }

    .navTitleDark {
      color: white;
    }
  }

  .copyRight {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    p {
      font-size: 12px;
    }
    .pDark {
      color: white;
    }
  }
}

.footerDark {
  background-color: $themeDarkSecondaire;
}
