@use "../../styles/settings" as *;

.introduction-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  transition: background-color 0.4s ease, color 0.4s ease;
  font-family: $fonttwo;

  // @media screen and (max-width: 1024px) {
  //   min-height: auto;
  //   height: auto;
  //   padding: 100px 0 0 0;
  //   justify-content: flex-start;
  // }

  &.light {
    background-color: $themeLightPrimaire;
  }
  &.dark {
    background-color: $themeDarkPrimaire;
  }
  h3 {
    margin: 3px;
    color: $textLightTwo;
    font-weight: 500;
    font-size: 14px;
  }

  h1 {
    margin: 10px;
    color: $txtLight;
    font-weight: 700;
  }

  .darkWrite {
    color: rgb(225, 219, 219);
  }
  .cv-about-container {
    display: flex;
    max-width: 600px;
    align-items: center;
    justify-content: space-around;
    margin: 30px 0;
    @media screen and (max-width: 660px) {
      width: 400px;
    }

    .cv-style {
      cursor: pointer;
      padding: 9px;
      border-radius: 10px;
      font-family: $fonttwo;
      background-color: white;
      width: 160px;
      font-weight: 600;

      @media screen and (max-width: 660px) {
        width: 150px;
        font-size: 12px;
      }

      &:hover {
        background-color: $hoverLight;
        color: white;
      }
    }

    .cvLight {
      border-color: $btnLight;
      color: $btnLight;
    }

    .cvDark {
      border-color: $themeDarkSecondaire;
      color: $themeDarkSecondaire;
    }

    .btn-style {
      cursor: pointer;
      padding: 10px;
      border-radius: 10px;
      width: 160px;
      color: white;
      font-family: $fonttwo;
      border: none;

      @media screen and (max-width: 660px) {
        width: 150px;
        font-size: 12px;
        padding: 12px;
      }
    }

    .btn-styleLight {
      background-color: rgb(142, 142, 222);
      &:hover {
        background-color: rgb(96, 96, 163);
      }
    }

    .btn-styleDark {
      background-color: $themeDarkSecondaire;
    }
  }

  .container-img {
    display: flex;
    align-items: flex-end;
    margin: 10px 0;

    .left-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 20px;

      @media screen and (max-width: 660px) {
        margin-right: 6px;
      }

      a {
        text-decoration: none;
        color: inherit;
        .icon-social {
          width: 30px;
          height: auto;
          margin-top: 4px;
          cursor: pointer;
          color: $btnLight;
          &:hover {
            transform: scale(1.2);
          }
        }

        .icon-dark {
          color: $themeDarkSecondaire;
        }
      }

      .line {
        width: 2px;
        height: 50px;
        margin-top: 4px;
        background-color: $btnLight;
      }

      .line-dark {
        background-color: $themeDarkSecondaire;
      }
    }

    .middle-box {
      display: flex;
      margin: 0 30px;

      .animation-box {
        width: 440px;

        @media screen and (max-width: 660px) {
          width: 240px;
          margin: 0 5px;
        }
      }
    }
    .right-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 20px;
      justify-content: center;
      cursor: pointer;

      @media screen and (max-width: 660px) {
        margin-left: 6px;
      }

      .icon-mousse {
        width: 30px;
        height: auto;
        margin-bottom: 10px;
        color: $btnLight;
      }

      .mousse-dark {
        color: $themeDarkSecondaire;
      }
      span {
        writing-mode: vertical-rl;

        @media screen and (max-width: 660px) {
          font-size: 14px;
        }
      }

      .writingDark {
        color: white;
      }
    }
  }
}
