@use "../../styles/settings" as *;

.about-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  transition: background-color 0.4s ease, color 0.4s ease;
  align-items: center;
  justify-content: center;
  font-family: $fonttwo;

  &.light {
    background-color: $themeLightPrimaire;
    color: black;
  }
  &.dark {
    background-color: $themeDarkPrimaire;
    color: white;
  }

  h3 {
    margin: 3px;
    color: $textLightTwo;
    font-weight: 500;
    font-size: 14px;
  }

  h1 {
    margin: 10px;
    color: $txtLight;
    font-weight: 700;
  }

  .img-about-container {
    display: flex;
    width: 800px;
    margin-top: 4vh;
    justify-content: center;
    img {
      width: 400px;
      border-radius: 20px;
    }

    .presentation {
      display: flex;
      flex-direction: column;
      margin: 20px;

      .competence-box {
        display: flex;
        margin-bottom: 10px;

        .competence {
          display: flex;
          width: 120px;
          height: 100px;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          background-color: $btnLight;
          margin: 4px;
          padding: 10px;
          text-align: center;
          border-radius: 20px;
          .icon-competence {
            width: 30px;
            height: auto;
            margin-bottom: 10px;
          }

          .icon-label {
            color: black;
            font-weight: 600;
          }

          .iconLight {
            color: white;
          }
          .iconDark {
            color: white;
          }
        }
      }

      .about {
        display: flex;
        margin-top: 2vh;
        font-size: 20px;
        color: $textLightTwo;

        p {
          letter-spacing: 1px;
          margin-left: 10px;
        }
      }
    }
  }
}
