@use "../../styles/settings" as *;

.about-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  transition: background-color 0.4s ease, color 0.4s ease;
  align-items: center;
  justify-content: center;
  font-family: $fonttwo;

  // @media screen and (max-width: 1024px) {
  //   min-height: auto;
  //   height: auto;
  //   padding: 100px 0 0 0;
  //   justify-content: flex-start;
  // }

  &.light {
    background-color: $themeLightPrimaire;
    color: black;
  }
  &.dark {
    background-color: $themeDarkPrimaire;
    color: white;
  }

  h3 {
    margin: 3px;
    color: $textLightTwo;
    font-weight: 500;
    font-size: 14px;
  }

  h1 {
    margin: 10px;
    color: $txtLight;
    font-weight: 700;

    @media screen and (max-width: 660px) {
      font-size: 26px;
    }
  }
  .darkWrite {
    color: rgb(225, 219, 219);
  }

  .img-about-container {
    display: flex;
    
    max-width: 600px;
    margin-top: 4vh;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 660px) {
      max-width: 400px;
      flex-direction: column;
    }

    img {
      width: 500px;
      height: 516px;
      border-radius: 60px;
      filter: grayscale(0.6) contrast(1.05) brightness(1.1);
      transition: all 0.3s ease;

      @media screen and (max-width: 660px) {
        width: 300px;
        height: 320px;
      }
    }

    .presentation {
      display: flex;
      flex-direction: column;
      margin: 20px;

      @media screen and (max-width: 660px) {
        align-items: center;
      }

      .competence-box {
        display: flex;
        margin-bottom: 10px;

        .competence {
          display: flex;
          width: 100px;
          height: 80px;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          background-color: $btnLight;
          margin: 4px;
          padding: 10px;
          text-align: center;
          border-radius: 20px;

          @media screen and (max-width: 660px) {
            width: 80px;
            margin: 10px;
          }

          .icon-competence {
            width: 24px;
            height: auto;
            margin-bottom: 10px;

            @media screen and (max-width: 660px) {
              width: 20px;
              margin-bottom: 6px;
            }
          }

          .icon-label {
            color: black;
            font-weight: 600;

            @media screen and (max-width: 660px) {
              font-size: 12px;
            }
          }

          .iconLight {
            color: black;
          }
          .iconDark {
            color: white;
          }
        }

        .competenceDark {
          background-color: $themeDarkSecondaire;
        }
      }

      .about {
        display: flex;
        margin-top: 2vh;
        font-size: 18px;
        color: $textLightTwo;
        line-height: 1.6em;

        p {
          letter-spacing: 1px;
          margin-left: 10px;

          @media screen and (max-width: 660px) {
            margin: 0;
            text-align: center;
          }
        }
      }
    }
  }
}
