.button_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 5px;
  width: 40px;
  height: 22px;
  cursor: pointer;

  &:hover {
    -webkit-transition-duration: 4s;
    -moz-transition-duration: 4s;
    -o-transition-duration: 4s;
    transition-duration: 4s;
  }
}

.logoBtn {
  width: 30px;
  margin-bottom: 2px;

  @media screen and (max-width: 600px) {
    width: 18px;
  }
}

.button_containerLight {
  &:hover {
    transform: rotate(0deg);
    -webkit-transform: rotate(360deg);
  }
}

.button_containerDark {
  &:hover {
    transform: rotate(0deg);
    -webkit-transform: rotate(-30deg);
  }
}
