@use "../../styles/settings" as *;

.contact-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 70vh;
  height: auto;
  align-items: center;
  justify-content: center;
  transition: background-color 0.4s ease, color 0.4s ease;
  font-family: $fonttwo;

  @media screen and (max-width: 600px) {
    margin-right: 0;
    min-height: 84vh;
  }

  @media screen and (max-width: 420px) {
    margin-right: 0;
  }

  &.light {
    background-color: $themeLightPrimaire;
  }
  &.dark {
    background-color: $themeDarkPrimaire;
  }

  h1 {
    margin: 0 0 30px 0;
    color: $txtLight;

    @media screen and (max-width: 600px) {
      margin: 3vh 0 6px 0;
      font-size: 26px;
    }
  }

  .darkWrite {
    color: rgb(225, 219, 219);
  }

  .contact-card {
    display: flex;
    max-width: 600px;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 600px) {
      justify-content: center;
    }

    h2 {
      margin-bottom: 20px;
      color: $textLightTwo;
      font-size: 16px;
      font-weight: 500;

      @media screen and (max-width: 600px) {
        font-size: 14px;
      }
    }
    .darkWrite {
      color: rgb(225, 219, 219);
    }
    .allContacts-container {
      display: flex;
      align-items: center;

      @media screen and (max-width: 600px) {
        flex-direction: column-reverse;
        justify-content: center;
      }

      .contacts-box {
        display: flex;
        flex-direction: column;
        background-color: $themeLightPrimaire;
        margin-right: 10px;
        align-items: center;

        @media screen and (max-width: 600px) {
          width: 100%;
          margin-right: 0;
          justify-content: center;
        }

        .social-media-box {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-end;
          width: 100%;
          height: 280px;

          @media screen and (max-width: 600px) {
            flex-direction: row;
            // margin-top: 30px;
            justify-content: space-around;
            align-items: center;
            height: auto;
          }
          a {
            text-decoration: none;
            color: inherit;

            .icon-social {
              width: 40px;
              height: auto;
              margin-top: 16px;
              cursor: pointer;
              color: $btnLight;

              @media screen and (max-width: 600px) {
                margin: 6px;
                width: 30px;
              }

              &:hover {
                transform: scale(1.2);
              }
            }

            .icon-dark {
              color: $themeDarkSecondaire;
            }
          }
        }

        .social-media-box-dark {
          background-color: $themeDarkPrimaire;
        }
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        margin-right: 40px;

        @media screen and (max-width: 600px) {
          width: 200px;
          justify-content: center;
          margin-right: 0;
        }

        div {
          position: relative;
          .label {
            position: absolute;
            color: $btnLight;
            font-weight: 700;
            background-color: $themeLightPrimaire;
            left: 2em;
            top: -6px;
            font-size: 18px;
            padding: 4px 8px;
            @media screen and (max-width: 600px) {
              font-size: 14px;
              top: -2px;
            }
          }

          .label-dark {
            color: $themeDarkSecondaire;
            background-color: $themeDarkPrimaire;
          }

          .input {
            width: 300px;
            margin: 6px;
            border: 3px solid $btnLight;
            padding: 20px;
            border-radius: 15px;
            background-color: $themeLightPrimaire;
            margin: 10px 0;

            @media screen and (max-width: 600px) {
              width: 200px;
            }
          }

          .input-dark {
            border: 3px solid $themeDarkSecondaire;
            background-color: $themeDarkPrimaire;
          }

          .textarea {
            width: 300px;
            height: 200px;
            margin: 10px 0;
            background-color: $themeLightPrimaire;
            border: 3px solid $btnLight;
            padding: 10px;
            border-radius: 15px;
            @media screen and (max-width: 600px) {
              width: 200px;
              height: 100px;
            }
          }

          .textarea-dark {
            background-color: $themeDarkPrimaire;
            border: 3px solid $themeDarkSecondaire;
          }
        }

        button {
          background-color: rgb(142, 142, 222);
          color: white;
          padding: 8px 16px;
          border-radius: 4px;
          cursor: pointer;
          border: none;
          width: 140px;
          margin-top: 2em;
          font-weight: 700;
          font-size: 16px;

          @media screen and (max-width: 600px) {
            margin-top: 0.5em;
            margin-bottom: 2vh;
          }

          &:hover {
            background-color: rgb(96, 96, 163);
          }
        }

        .btnDark {
          background-color: $themeDarkSecondaire;

          &:hover {
            background-color: rgb(90, 116, 203);
            box-shadow: 0 0 12px rgb(102, 135, 241);
            transform: translateY(-3px);
          }
        }
      }
    }
  }
}
