@use "../../styles/settings" as *;

.projects-container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: center;
  transition: background-color 0.4s ease, color 0.4s ease;
  align-items: center;
  justify-content: center;
  &.light {
    background-color: $themeLightPrimaire;
  }
  &.dark {
    background-color: $themeDarkPrimaire;
  }

  h3 {
    margin-top: 18vh;
  }

  .projects-wrap {
    display: flex;
    width: 1200px;
    margin: 30px 0;
    flex-wrap: wrap;
    justify-content: center;
  }
}
