@font-face {
  font-family: "Roboto";
  src: url(./font/Roboto-Regular.ttf);
}

@font-face {
  font-family: "montserrat";
  src: url(./font/Montserrat-Medium.ttf);
}

$fontone: Roboto;
$fonttwo: montserrat;

//color
$themeDarkPrimaire: rgb(17, 16, 16);
$themeDarkSecondaire: rgb(98, 135, 255);
$themeDarkTerciaire: rgb(29, 28, 28);
$btnDark: red;

$themeLightPrimaire: #f0f4f8;
$themeLightSecondaire: white;
$btnLight: rgb(142, 142, 222);
$txtLight: rgb(66, 63, 63);
$textLightTwo: rgb(79, 76, 76);
$hoverLight: rgb(142, 142, 222);
